<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user">
    <%= link_to micropost.user.name, micropost.user %>
  </span>
  <span class="content">
    <%= image_tag micropost.display_image if micropost.image.attached? %>
    <%= micropost.content %>
  </span>
  <span class="timestamp">
    <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>

  <div id="likes-btn-<%= micropost.id %>" class="likes-btn">
    <%= render partial: 'likes/like', locals: { micropost: micropost } %>
  </div>

  <%= link_to micropost_path(micropost.id) do %>
  <span>
    <i class="fa fa-comment comment-btn" aria-hidden="true"></i>
    <%= micropost.comments.count %>
  </span>
  <% end %>
  <% if current_user?(micropost.user) %>
  <%= link_to micropost, method: :delete, data: { confirm: "Do you really want to delete this" } do %>
    <span>
      <i class="fa fa-trash trash-btn" aria-hidden="true"></i>
    </span>
  <% end %>
  <% end %>
</li>
